.pokemonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .pokemonCard {
    width: 300px;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
  }